source/Tooling/post-migration/eubt/eu.artist.postmigration.eubt.example.ws.migrated/src/main/webapp/WebservicesDemoService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://webservices.artist.eu/" name="WebservicesDemoService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservices.artist.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.artist.eu/" schemaLocation="WebservicesDemoService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createUser">
    <part name="parameters" element="tns:createUser"/>
  </message>
  <message name="createUserResponse">
    <part name="parameters" element="tns:createUserResponse"/>
  </message>
  <message name="obtainUser">
    <part name="parameters" element="tns:obtainUser"/>
  </message>
  <message name="obtainUserResponse">
    <part name="parameters" element="tns:obtainUserResponse"/>
  </message>
  <message name="updateUserAge">
    <part name="parameters" element="tns:updateUserAge"/>
  </message>
  <message name="updateUserAgeResponse">
    <part name="parameters" element="tns:updateUserAgeResponse"/>
  </message>
  <message name="createPetCategory">
    <part name="parameters" element="tns:createPetCategory"/>
  </message>
  <message name="createPetCategoryResponse">
    <part name="parameters" element="tns:createPetCategoryResponse"/>
  </message>
  <message name="getPetCategory">
    <part name="parameters" element="tns:getPetCategory"/>
  </message>
  <message name="getPetCategoryResponse">
    <part name="parameters" element="tns:getPetCategoryResponse"/>
  </message>
  <portType name="WebservicesDemo">
    <operation name="createUser">
      <input wsam:Action="http://webservices.artist.eu/WebservicesDemo/createUserRequest" message="tns:createUser"/>
      <output wsam:Action="http://webservices.artist.eu/WebservicesDemo/createUserResponse" message="tns:createUserResponse"/>
    </operation>
    <operation name="obtainUser">
      <input wsam:Action="http://webservices.artist.eu/WebservicesDemo/obtainUserRequest" message="tns:obtainUser"/>
      <output wsam:Action="http://webservices.artist.eu/WebservicesDemo/obtainUserResponse" message="tns:obtainUserResponse"/>
    </operation>
    <operation name="updateUserAge">
      <input wsam:Action="http://webservices.artist.eu/WebservicesDemo/updateUserAgeRequest" message="tns:updateUserAge"/>
      <output wsam:Action="http://webservices.artist.eu/WebservicesDemo/updateUserAgeResponse" message="tns:updateUserAgeResponse"/>
    </operation>
    <operation name="createPetCategory">
      <input wsam:Action="http://webservices.artist.eu/WebservicesDemo/createPetCategoryRequest" message="tns:createPetCategory"/>
      <output wsam:Action="http://webservices.artist.eu/WebservicesDemo/createPetCategoryResponse" message="tns:createPetCategoryResponse"/>
    </operation>
    <operation name="getPetCategory">
      <input wsam:Action="http://webservices.artist.eu/WebservicesDemo/getPetCategoryRequest" message="tns:getPetCategory"/>
      <output wsam:Action="http://webservices.artist.eu/WebservicesDemo/getPetCategoryResponse" message="tns:getPetCategoryResponse"/>
    </operation>
  </portType>
  <binding name="WebservicesDemoPortBinding" type="tns:WebservicesDemo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtainUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateUserAge">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createPetCategory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPetCategory">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WebservicesDemoService">
    <port name="WebservicesDemoPort" binding="tns:WebservicesDemoPortBinding">
      <soap:address location="http://artist-jaxws-migrated.appspot.com/WebservicesDemoService"/>
    </port>
  </service>
</definitions>

